/************************************************
*
*   Main Stylesheet
*   @version (1.0)
*   @date (2023)
*
*   1.) GENERAL ______________________ @general
*   2.) HEADER _______________________ @header
*   3.) CONTENT ______________________ @content
*   4.) ABOUT ME _____________________ @aboutMe
*   5.) WORK _________________________ @work
*   6.) CONTACT ME ___________________ @contactMe
*   7.) RESUME _______________________ @resume
*   4.) FOOTER _______________________ @footer
*
************************************************/
  
/************************************************
   GENERAL                              @general

   The base styles for the page, text
   and links. Includes utility class styles
************************************************/
:root {
    --bg-color-one: #704488;
    --bg-color-two: #9297C3;
    --bg-color-three: #b7e3cc;
    --bg-color-four: #c4ffb2;
    --bg-color-five: #d6f7a3;
    --bg-color-five-dark: #99c753;
    --bg-color-six: #FFA69E;
    --bg-color-six-dark: #e38981;
    --font-main-style: "Roboto Slab", serif;
    --font-sub-style: "Dosis", sans-serif;
    --font-timer-style: "Secular One", sans-serif;
    --font-aboutme-style: "Merienda", sans-serif;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}
a {
    font-family: var(--font-sub-style);
    font-size: 0.875rem;
    color: #000;
    text-decoration: none;
}
p {
    font-size: 1rem;
}
.clear { 
    clear: both; 
}
.float-left {
    float: left;
    margin-right: 25px;
}
.float-right {
    float: right;
    margin-left: 25px;
}
.back-drop {
    opacity: 0;
    background-color: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
}
.back-drop.closed {
    opacity: 0;  
    -webkit-animation: fadeOut 0.5s ease-out 0s 0.7 normal backwards;  
    -moz-animation: fadeOut 0.5s ease-out 0s 0.7 normal backwards;
    animation: fadeOut 0.5s ease-out 0s 0.7 normal backwards;
}
.back-drop.active {
    opacity: 0.7;
    background-color: #191919;
    -webkit-animation: fadeIn 0.25s ease-in 0s 0.7 normal forwards;  
    -moz-animation: fadeIn 0.25s ease-in 0s 0.7 normal forwards;
    animation: fadeIn 0.25s ease-in 0s 0.7 normal forwards;
    z-index: 9999;
}
.skip-link {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
.skip-link:focus {
    position: static;
    width: auto;
    height: auto;
}

/************************************************
   HEADER                                @header

   The styles for the header which
   includes a title, an image and a 
   horizontal menu (desktop and mobile)
************************************************/
.header {
    background-color: var(--bg-color-three);
    color: #ffffff;
    width: 100%;
    height: 3rem;
    position: fixed;
    top: 0;
    z-index: 999999;
}
.header-title {
    font-family: var(--font-main-style);
    font-weight: normal;
    display: inline-block;
    font-size: 1.813rem;
    color: #000;
    position: absolute;
    left: auto;
    right: auto;
    margin: 0 auto;
    top: 9rem;
}
@media (min-width: 1000px) {
    .header-title {
        font-size: 3.75rem;
        top: 8rem;
    }
}
.header nav.desktop-menu {
    display: none;
}
.header nav.mobile-menu {
    display: block;
    margin-right: 20px;
    position: relative;
    height: 100%;
    width: 100%;
    font-size: 1.25rem;
    padding: 0.5rem;
    background-color: var(--bg-color-one);
    border-bottom: 1px solid #FFF;
}
.header nav.mobile-menu ul {
    list-style-type: none;
    position: absolute;
    right: 0;
    top: 2.4rem;
    background-color: #f9f9f9;
    width: 100%;
    height: 0px;
    text-align: center;
    z-index: 1;
    height: 0px;
}
.header nav.mobile-menu ul.active {
    height: 16rem;
    transition: height .3s ease;
    padding: 1rem;
}
.header nav.mobile-menu ul.inactive {
    height: 0px;
    transition: height .3s ease;
    overflow: hidden;
}
.header nav.mobile-menu ul li {
    display: block;
    margin-left: 25px;
    padding: 0.25rem;
}
.header nav ul li a {
    font-family: var(--font-sub-style);
    display: inline-block;
    text-decoration: none;
    color: #FFF;
    font-size: 1.125rem;
    letter-spacing: 2px;
    position: relative;
    padding: 0.5rem;
    cursor: pointer;
}
.header nav.mobile-menu ul li a {
    color: transparent;
    background-color: transparent;
    transition: color 3s ease, background-color 3s ease;
}
.header nav ul li a.active {
    color: var(--bg-color-four);
}
.header nav ul li a.active::after {
    position: absolute;
    height: 2px;
    background-color: var(--bg-color-four);
    width: 100%;
    left: 50%;
    bottom: 0;
}
.header nav.mobile-menu ul.active li a {
    color: #191919;
}
.header nav.mobile-menu ul.inactive li a {
    color: transparent;
}
.menu-bar {
    width: 35px;
    height: 5px;
    background-color: var(--bg-color-five);
    margin: 6px 0;
    transition: all 0.5s;
    transform-origin: right;
}
#menu-btn {
    position: absolute;
    right: 1rem;
    top: 0px;
    height: 3rem;
    width: 3rem;
}
#menu-btn .bar-one {
    position: absolute;
    right: 0.5rem;
    top: 0;
}
#menu-btn .bar-two {
    position: absolute;
    right: 0.5rem;
    top: 0.75rem;
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.5s linear;
}
#menu-btn .bar-three {
    position: absolute;
    right: 0.5rem;
    top: 1.5rem;
}
#menu-btn.active .bar-one {
    transform: rotate(-45deg);
}
#menu-btn.active .bar-two {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}
#menu-btn.active .bar-three {
    transform: rotate(45deg);
    top: 1.55rem;
}
@media (min-width: 600px) {
    .header nav.desktop-menu {
        display: block;
    }
    .header nav.mobile-menu {
        display: none;
    }
    .header nav.desktop-menu {
        height: 100%;
        margin-right: 20px;
        width: 100%;
        font-size: 1.25rem;
        background-color: var(--bg-color-one);
        border-bottom: 1px solid #FFF;
    }
    .header nav.desktop-menu ul li {
        display: inline-block;
        margin-left: 25px;
    }
    .header nav.mobile-menu ul li {
        display: none;
    }
    #menu-btn {
        display: none;
    }
}
/************************************************
   The following animation was 
   borrowed from: 
   https://codepen.io/sharkcoder/pen/oNLoddx 
   (@sharkcoder) 
*************************************************/
.header nav ul li a::after {
    content: "";
    position: absolute;
    height: 2px;
    background-color: var(--bg-color-one);
    width: 0;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
}
@media (min-width: 600px) {
    .header nav ul li a::after {
        background-color: var(--bg-color-four);
    }
}
.header nav ul li a:hover {
    color: var(--bg-color-four);
}
.header nav ul li a:hover::after {
    width: 100%;
}
/*************************
    end animation css 
*************************/
.hero {    
    padding: 1rem;
    height:100vh;
    width:100vw;
    background: url('../images/vecteezy_rabbit-in-the-beautiful-forest_10856435_332.png'), var(--bg-color-two);
    background-size: 75%;
    background-position: right 3rem center;
    background-repeat: no-repeat;
}
.hero .emphasis {
    padding: 30px 0 8px;
    position: relative;
}
.hero .emphasis::before {
    content: "";
    position: absolute;
    left: 2%;
    bottom: 9px;
    width: 5.15rem;
    height: 5px;
    background: var(--bg-color-one);
    z-index: 2;
}
@media (min-width: 600px) {
    .hero {    
        background-size: 50%;
    }
}
@media (min-width: 1100px) {
    .hero {    
        background-size: 35%;
    }
}

/************************************************
   CONTENT                               @content

   The styles for the content section
************************************************/
.content {
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 3rem;
}
.content-section {
    min-height: 100vh;
    width: 100%;
    display: flex;
}
.content-section .tag-container {
    display: flex;
    flex-wrap: wrap;
}
.content-section .tag {
    font-family: var(--font-main-style);
    display: inline-block;
    padding: 0.2rem 0.5rem 0.3rem;
    -webkit-border-radius: 5px; 
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #191919;
    font-weight: 600;
    margin: 0.1rem;
    background-color: #85cb6f;
}
.content-section .tag-sm {
    font-size: .75rem;
    display: inline-block;
    letter-spacing: .15ch;
    font-weight: 400
}

.content-section .content-title {
    width: 100%;
    padding: 1rem 0.25rem 0.25rem 0.25rem;
    display: block;
}
.content-section .main-content {
    flex: 1;
    width: 100%;
}
.content-section h2 {
    font-family: var(--font-main-style);
    font-weight: normal;
    padding-bottom: 1rem;
    font-size: 2.25rem;
    font-weight: 300;
}
.content-section h2:before {
    content: "{";
    font-size: 2.625rem;
    padding-right: 0.5rem;
}
.content-section h2:after {
    content: "}";
    font-size: 2.625rem;
    padding-left: 0.5rem;
}
.content-section.one {
    background-color: var(--bg-color-three);
}
.content-section.two {
    background-color: var(--bg-color-four);
}
.content-section.three {
    background-color: var(--bg-color-five);
}
.content-section.four {
    background-color: var(--bg-color-six);
}

/************************************************
   ABOUT ME                              @aboutMe

   The styles for the about me section
************************************************/
.about-me h2 {
    padding: 1rem;
    margin-bottom: 1rem;
}
.about-me .timer {
    font-family: var(--font-timer-style);    
    padding: 2rem;
    background-color: rgba(0,0,0,0.75);
}
.about-me .timer p {
    font-size: 38px;
    text-align: center;
    margin-bottom: 2rem;
    color: var(--bg-color-five);
    -webkit-text-stroke: 1px #000; 
}
/************************************************
   The following animation was 
   modified from: 
   https://codepen.io/alvarotrigo/pen/PoKMyNO
   (@alvarotrigo) 
*************************************************/
@keyframes movingBackground {
    0%   { background-position: 0% center; }
    25%  { background-position: 50% center; }
    50%  { background-position: 100% center; }
    75%  { background-position: 150% center; }
    100% { background-position: 200% center; }
  }
.about-me .timer span {
    text-transform: uppercase;
    background-image: linear-gradient(90deg, #e4fac1 0%, var(--bg-color-five-dark) 50%, var(--bg-color-five) 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: movingBackground 3s linear infinite;
    display: inline-block;
    font-size: 32px;
}
/*************************
    end animation css 
*************************/
.about-me .timer .flex-columns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.about-me .timer .flex-columns .col {
    flex: 100%;
    text-align: center;
}
@media (min-width: 800px) {
    .about-me .timer .flex-columns .col {
        flex: 25%;
    }
}
.aboutme-section {
    width: 77%;
    height: 80%;
    padding: 3rem;
    margin: 4rem auto;
    border: 1px solid var(--bg-color-five-dark);
    -moz-box-shadow: var(--bg-color-five-dark) 0px 4px 12px; 
    -webkit-box-shadow: var(--bg-color-five-dark) 0px 4px 12px; 
    box-shadow: var(--bg-color-five-dark) 0px 4px 12px;
    background-color: #FFF;
}
.aboutme-section p {
    font-family: var(--font-main-style);
    font-weight: 300;
    font-size: 22px;
    line-height: 45px;
}
.aboutme-section strong {
    font-family: var(--font-main-style);
    font-weight: 600;
    font-size: 22px;
    line-height: 45px;
    display: inline;
    padding: 0.25em 0;
    background: #000;
    color: #ffffff;
    -moz-box-shadow: 0.15em 0 0 #000, -0.15em 0 0 #000; 
    -webkit-box-shadow: 0.15em 0 0 #000, -0.15em 0 0 #000; 
    box-shadow: 0.15em 0 0 #000, -0.15em 0 0 #000;
}

/************************************************
   WORK                                     @work

   The styles for the work section
************************************************/
.content-section .main-content .work {
    padding: 1rem;
}
.card-list article {
    margin-bottom: 1rem;
    border: 5px solid #a7e794;
    background-color: #a8e794;
}
.card-list article a {
    position: relative;
}
.card-list article img {
    max-width: 100%;
}
.card-list article img.fixed {
    height: 11em;
}
.content-txt {
    padding: 0.5rem;
}
.content-txt,
.content-txt h3 {
    font-family: var(--font-main-style);
    font-weight: normal;
}
.content-txt p,
.content-txt h3 {
    padding-bottom: 0.5rem;
    line-height: 1.5;
}
.content-txt .card-btn {
    font-family: var(--font-main-style);
    display: inline-block;
    padding: 0.5rem;
    -webkit-border-radius: 5px; 
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: lightgray;
    font-weight: normal;
    font-size: 1rem;
    margin: 0.5rem 0.1rem;
    background-color: #191919;
    border: none;
    cursor: pointer;
}
@media (min-width:600px) {
    .card-list { 
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        grid-gap: 20px;
    }
    .card-list article:nth-child(1) {
        grid-column: span 2;
    }
    .card-list article {
        margin-bottom: 0;
    }
}

/************************************************
   CONTACT ME                          @contactMe

   The styles for the contact me section
************************************************/
.content-section .main-content .contact-me {
    padding: 1rem;
}
.contact-form {
    width: 90%;
    height: 80%;
    padding: 1rem;
    margin: 1rem auto;
    border: 1px solid var(--bg-color-five-dark);
    -moz-box-shadow: var(--bg-color-five-dark) 0px 4px 12px; 
    -webkit-box-shadow: var(--bg-color-five-dark) 0px 4px 12px; 
    box-shadow: var(--bg-color-five-dark) 0px 4px 12px;
    background-color: #FFF;
}
.contact-form label {
    font-family: var(--font-main-style);
    font-weight: 600;
    display: block;
    padding-bottom: 1rem;
}
.contact-form input {
    font-family: var(--font-main-style);
    font-weight: 100;
}
.contact-form input#email,
.contact-form input#name {
    width: 100%;
    border-bottom: 2px solid var(--bg-color-five-dark);
    border-left: none;
    border-right: none;
    border-top: none;
    height: 3rem;
    margin-bottom: 4rem;
}
.contact-form textarea#message {
    width: 100%;
    height: 10rem;
    border-bottom: 2px solid var(--bg-color-five-dark);
    border-left: 1px dotted var(--bg-color-five-dark);
    border-right: 1px dotted var(--bg-color-five-dark);
    border-top: 1px dotted var(--bg-color-five-dark);
    margin-bottom: 4rem;
}
form .contact-btn {
    display: inline-block;
}
form .contact-btn {
    background-color: var(--bg-color-five-dark);
    border: 1px solid #FFF;
    border-radius: 16px;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    font-size: 1.125rem;
    padding: 5px;
    text-decoration: none;
    transition: all .2s;
    width: 7rem;
}
form .contact-btn:active,
form .contact-btn:hover {
  outline: 0;
}
form .contact-btn:hover {
  background-color: var(--bg-color-five);
}
.thanks {
    text-align: center;
    font-size: 5rem;
    margin-top: 3rem;
}
@media (min-width:600px) {
    .contact-form {
        width: 77%;
        padding: 3rem;
        margin: 4rem auto;
    }
}

/************************************************
   RESUME                                 @resume

   The styles for the resume section
************************************************/
.content-section .main-content .resume {
    padding: 1rem;
}
.resume-form { 
    width: 90%;
    margin: 1rem auto;
    border: 1px solid var(--bg-color-six-dark);
    -moz-box-shadow: var(--bg-color-six-dark) 0px 4px 12px;
    -webkit-box-shadow: var(--bg-color-six-dark) 0px 4px 12px;
    box-shadow: var(--bg-color-six-dark) 0px 4px 12px;
    background-color: #FFF;
}
.resume-form .hr {
    width: 100%;
    height: 1px;
    background-color: var(--bg-color-six-dark);
    margin-top: 10px;
    margin-bottom: 10px;
}
.resume-form h3 {
    font-family: var(--font-sub-style);
    font-weight: normal;
    padding: 0 0 16px 0; 
    font-size: 2.625rem; 
    font-weight: normal;
    letter-spacing: 5px;
}
.resume-form h4 {
    padding: 0 0 16px 0; 
    font-size: 1.125rem; 
}
.resume-form p {
    font-family: var(--font-main-style);
    font-weight: 300;
    color: #191919; 
    font-size: 1rem;
    margin-bottom: 5px;
    line-height: 1.5;
}
.resume-form p.sm,
.resume-form p.sm a {
    font-size: 0.875rem;
}
.resume-form p span {
    font-family: var(--font-main-style);
    font-weight: 300;
    color: #191919; 
    display: block;
    font-size: 0.75rem;
    line-height: 1.5;
    margin-bottom: 5px;
}
.resume-form a {
    font-family: var(--font-main-style);
    font-weight: 300;
    color: #191919; 
    text-decoration: underline;
    font-size: 1rem;
}
.resume-form .resume-bold {
    font-family: var(--font-main-style);
    font-weight: 600;
}
.resume-form .resume-bold span {
    font-family: var(--font-main-style);
    font-weight: 300;
}
.resume-form .resume-bold a,
.resume-form .resume-bold span {
    font-family: var(--font-main-style);
    font-weight: 300;
}
.resume-form .resume-title {
    font-family: var(--font-main-style);
    font-weight: 600;
    letter-spacing: -3px;
    display: inline-block;
    width: 50%;
}
.resume-form .resume-title span.resume-subtitle {
    font-family: var(--font-main-style);
    font-weight: 100;
    font-size: 0.938rem;
    display: block;
    letter-spacing: 2px;
}
.resume-form figure { 
    display: inline-block;
}
.resume-form figure .resume-img { 
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    border: 1px solid #000;
    margin-right: 2rem;
}
.resume-form article {
    padding-bottom: 1rem;
}
.resume-form article div {
    padding-bottom: 1rem;
}
.resume-form .objective { 
    width: 100%; 
    float: left; 
    margin-top: 1rem;
    margin-bottom: 3rem;
}
.resume-form .contact {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.resume-form .main {
    width: 100%;
}
.resume-form .main .sidebar {
    background-color: #082a4d;
}
.resume-form .main .sidebar p,
.resume-form .main .sidebar a {
    color: #FFF;
}
.resume-form .main .edu-exp {
    padding: 1rem;
}
.resume-form .main .sidebar {
    padding: 1rem;
}
@media screen and (min-width: 600px) {
    .resume-form { 
        width: 77%;
        margin: 4rem auto;
    }
    .resume-form .main .edu-exp {
      flex: 75%;
    }
    .resume-form .main .sidebar {
      flex: 25%;
    }
}
@media screen and (min-width: 832px) {
    .resume-form .main {
        display: flex;
    }
    .resume-form .main .edu-exp {
        padding: 5rem;
    }
    .resume-form .main .sidebar {
        padding: 16rem 5rem 5rem 5rem;
    }
}
form .resume-btn {
    display: inline-block;
}
form .resume-btn {
    background-color: var(--bg-color-six-dark);
    border: 1px solid #FFF;
    border-radius: 16px;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    font-size: 1.125rem;
    padding: 5px;
    text-decoration: none;
    transition: all .2s;
    width: 7rem;
}
form .resume-btn:active,
form .resume-btn:hover {
  outline: 0;
}
form .resume-btn:hover {
  background-color: var(--bg-color-six);
}
.resume-list li {
    font-family: var(--font-main-style);
    font-weight: 300;
    color: #191919;
    font-size: 1rem;
    margin-bottom: 5px;
    line-height: 1.5;
}
.resume-list {
    margin-left: 13px;
}
.resume-list li.sm {
    font-size: 0.875rem;
}

/************************************************
   FOOTER                                 @footer

   The styles for the footer
************************************************/
.footer {
    text-align: center;
    height: 3rem;
    width: 100%;
    background-color: var(--bg-color-one);
    display: table;
    padding: 0.5rem;
}
.footer h4 {
    font-family: var(--font-sub-style);
    font-size: 1.125rem;
    font-weight: normal;
    color: #FFF;
}
.footer a {
    font-family: var(--font-sub-style);
    font-size: 0.875rem;
    font-weight: normal;
    color: #FFF;
}
.footer div.vertical-center {
    display:table-cell;
    vertical-align:middle;
}
